
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Swimmers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <h1>Swimmers GALA records</h1>
    
    <button id="showCreateButton" onclick="showCreate()">Add Swimmer</button>

    <table border="2" class="table" id="swimmerTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Sex</th>
                <th>Age Group</th>
                <th>Event</th>
                <th>Date</th>
                <th>Time</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="swimmerBody"></tbody>  
    </table>
    
    <div id="createUpdateForm" style="display:none">
        <h3>
            <!--Create is shown on the page-->
            <span id="createLabel">Create</span>

            <!--Update is invisible-->
            <span id="updateLabel" style="display:none">Update</span> Swimmer
        </h3>
        <input type="hidden" name="id"/>
        First Name: <input type="text" name="first_name"><br/>
        Last Name: <input type="text" name="last_name"><br/>
        Sex: <input type="text" name="sex"><br/>
        Age Group: <input type="number" name="age_group"><br/>
        Event: <input type="text" name="event"><br/>
        Date: <input type="date" name="date"><br/>
        Time: <input type="text" name="time" placeholder="MM:SS:ss"><br/>  
        
        <button id="doCreateButton" onclick="doCreate()">Create</button>
        <button id="doUpdateButton" onclick="doUpdate()" style="display:none">Update</button>

    </div>

    <script>
        // check time format
        function isValidTimeFormat(timeStr) {
            return /^\d{2}:\d{2}:\d{2}$/.test(timeStr); 
        }

        // add swimmer
        function doCreate() {

            // get the form
            const form = document.getElementById("createUpdateForm");

            const swimmer = {
                first_name: form.querySelector('input[name="first_name"]').value,
                last_name: form.querySelector('input[name="last_name"]').value,
                sex: form.querySelector('input[name="sex"]').value,
                age_group: form.querySelector('input[name="age_group"]').value,
                event: form.querySelector('input[name="event"]').value,
                date: form.querySelector('input[name="date"]').value,
                time: form.querySelector('input[name="time"]').value

            };
            // get the time and check if it is valid

            if (!isValidTimeFormat(swimmer.time)) {
                alert("Please enter time in MM:SS:ss format (e.g., 02:45:37)");
                return;
            }    
            $.ajax({
                url: "/results",
                method: "POST",
                data: JSON.stringify(swimmer),
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    addSwimmerToTable(result);
                    alert("Swimmer added!");
                    form.reset();
                    document.getElementById("createUpdateForm").style.display = "none";
        },
        error: function (xhr, status, error) {
            alert("Failed to create swimmer: " + error);
            console.log(xhr.responseText);
        }
    });

        function showCreate() {
    document.getElementById("createUpdateForm").style.display = "block";
    document.getElementById("showCreateButton").style.display = "none";
}
}





        // get all from flusk

        function getAllswimmers() {
            $.ajax({
                url: "/results",
                method: "GET",
                dataType: "json",
                success: function (data) { // data - list of swimmers in json
                    for (let swimmer of data) {
                        addSwimmerToTable(swimmer);// each swimmer will be added with this function
                    }
                },
                error: function (xhr, status, error) {
                    alert("Failed to load swimmers: " + error);
                }
            });
        }
        // add swimmer
        
        function addSwimmerToTable(swimmer) {
        // get element <tbody> and add a row    
    const table = document.getElementById("swimmerBody");
       // create a table raw     
    const row = document.createElement("tr");
    row.setAttribute("id","row-" + swimmer.id); // to call the row
            
    row.innerHTML = `
        <td>${swimmer.id}</td>
        <td>${swimmer.first_name}</td>
        <td>${swimmer.last_name}</td>
        <td>${swimmer.sex}</td>
        <td>${swimmer.age_group}</td>
        <td>${swimmer.event}</td>
        <td>${swimmer.date}</td>
        <td>${swimmer.time}</td>
        <td><button onclick="showUpdate(${swimmer.id})">Update</button></td>
        <td><button onclick="doDelete(${swimmer.id})">Delete</button></td>
    `;

    table.appendChild(row);
}
    // update
function showUpdate(id) {
    alert("Update swimmer ID: " + id);
}
    // delete
function doDelete(id) {
    if (!confirm("Do you want to delete the swimmer ID: " + id + "?"))
    return;

    $.ajax({
        url: `/results/${id}`,
        method: "DELETE",
        success: function () {
            // remove row from table
            const row = document.getElementById("row-" + id);
            if (row) row.remove();
        },
        error: function (xhr, status, error) {
            alert("Failed to delete swimmer: " + error);
        }
    });
}




getAllswimmers();



    </script>


</body>
</html>